body {
  background: linear-gradient(
    180.3deg,
    rgb(221, 221, 221) 5.5%,
    rgb(110, 136, 161) 90.2%
  );
  min-height: 100vh;
  background-attachment: fixed;
}
.container {
  max-width: 600px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  box-shadow: 0px 7px 29px 0px rgba(0, 0, 0, 0.09);
  border-radius: 9px;
  font-family: sans-serif;
  position: relative;
  z-index: 0;
}

h1 {
  text-align: center;
  font-size: 36px;
}

select {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 3px;
  padding: 10px;
}
h2 {
  margin: 0 0 5px;
  position: relative;
  z-index: 1;
}
.date {
  opacity: 0.7;
  position: relative;
  z-index: 1;
}
.city {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.time {
  font-size: 42px;
  font-weight: bold;
}
.time small {
  font-size: 18px;
  vertical-align: middle;
}
footer {
  text-align: center;
  font-family: sans-serif;
  font-size: smaller;
  color: rgb(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
}
a {
  color: rgb(0, 0, 0, 0.5);
  font-weight: bolder;
}
img {
  position: absolute;
  bottom: 0px;
  max-width: 25%;
  z-index: 0;
  margin-bottom: 0;
}
